.blog-title {
    text-align: center;
    margin-bottom: 100px;
}

.blog-title h1 {
    color: #222;
    font-family: 'Taviraj', serif;
    font-size: 40px;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
}


.blog-section {
    padding: 20px;
    border: 1px solid #e9e9e9;
    margin-bottom: 50px;
}

.blog-content {
    margin-top: 120px;
    font-family: 'Taviraj', serif;
}

.blog-post-header h1{
    font-size: 30px;
    margin-bottom: 5px;
}

.blog-section-content {
    margin-top: 20px;
}

.blog-section-content p {
    font-size: 16px;
}

.blog-readmore {
    color: #ea9920 !important;
    background-color: transparent;
}