<!-- begin css -->
<link href="/assets/editor.scss" rel="stylesheet"/>
<!-- end css -->

<div class="content edit-content">
  <div class="panel-heading">
    <h4 class="edit-title">Nhập thông tin căn hộ</h4>
  </div>

  <div class="panel-body">
    <%= form_for :editor do |f| %>
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-md-3 control-label">Tên căn hộ</label>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="" name="name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Địa chỉ</label>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="" name="address">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Số phòng ngủ</label>
            <div class="col-md-6">
              <select class="form-control" name="number_bedroom">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Số phòng tắm</label>
            <div class="col-md-6">
              <select class="form-control" name="number_bathroom">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Diện tích</label>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="" name="size">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Giá căn hộ</label>
            <div class="col-md-6">
              <input type="number" class="form-control" placeholder="" name="price">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Mô tả</label>
            <div class="col-md-6">
              <textarea class="form-control" placeholder="Mô tả chi tiết căn hộ" rows="5" name="description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Đường dẫn ảnh 3D</label>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="" name="matterport_url">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Ảnh đại diện</label>
            <div class="col-md-6" style="margin-top: 5px;">
              <input type="file" name="img" multiple>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Trạng thái</label>
            <div class="col-md-6">
              <select class="form-control" name="is_available">
                <option value="true">Chế độ công khai</option>
                <option value="false">Chế độ riêng tư</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Gửi</label>
            <div class="col-md-6">
              <button type="submit" class="btn btn-sm btn-success">Submit</button>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>


<!-- begin script -->
<script src="/assets/jquery-1.9.1.js"></script>
<script>
  $(document).ready(function () {
  });
</script>
<!-- end script -->