// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.editor-content {
  margin-top: 10px;
  width: 100%;
  height: auto;
  border-top: 1px solid #ddd;
}

.edit-content{
  margin-top: 0px;
  padding-top: 0px;
}

.edit-title {
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
}

.list-item-image{
  padding: 0px !important;
}

.list-item-action {
  padding-top: 25px !important;
  padding-right: 0px !important;
}

.list-item-thumb {
  width: 149px;
  height: 80px;
  object-fit: cover;
}

.list-paginate{
  font-size: 16px;
}

.edit-list-thumb {
  display: flex;
  overflow-x: auto;
}

.edit-list-thumb div {
  display: inline-block;
  position: relative;
}

.edit-list-thumb img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 5px;
  border-radius: 5px;
}

.edit-list-thumb i {
  position: absolute;
  top: 10px;
  left: 15px;
}

.profile-avatar {
  text-align: center;
}

.profile-avatar img {
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}