//Home view
.home-card-search {
  overflow: hidden;
  z-index: 2;
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 50%;
  background: #fff;
}

.home-card-search i {
  font-size: 16px;
}

.home-input-search {
  font-size: 16px;
  padding: 15px 20px 15px 20px;
  font-family: Helvetica, Arial, sans-serif;
  border: 0;
  width: 90%;
}
.home-input-search:focus {
  outline-width: 0;
}
.home-input-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa;
}
.home-input-search::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
}
.home-input-search:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
}
.home-input-search:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
}

.pac-item{
  padding: 5px 10px;
}

//Search view
.search-filter{
  height: 50px;
  width: 100%;
  margin-top: 70px;
  z-index: 1;
  position: relative;
  text-align: right;
  border-top: 1px solid  #ddd;
  -webkit-box-shadow: 0 6px 10px -8px #666;
  -moz-box-shadow: 0 6px 10px -8px #666;
  box-shadow: 0 6px 10px -8px #666;
}

.search-content {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  overflow-y: hidden;
}

.search-list {
  width: 55%;
  height: 100%;
  display: inline-block;
  overflow-y: auto;
  line-height: 0 !important;
  margin: 0px;
  padding: 10px;
  text-align: center;
  background: #f4f5f9;
}

.search-map {
  width: 45%;
  height: 100%;
  display: inline-block;
}

.search-item{
  width: 49%;
  height: 400px;
  padding: 10px;
  display: inline-block;
  position: relative;
}

.search-item-content{
  height: 100%;
  width: 100%;
  background: #fff;
  border: 1px solid rgba(48,51,57,.15);
  border-radius: 5px;
}

.search-item-cover {
  height: 60%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.search-item-text {
  width: auto;
  height: 40%;
  text-align: left;
  margin-left: 20px;
}

.search-item-text-title {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #303339;
  font-weight: 600;
}

.search-item-text-address {
  margin-top: 8px;
  flex-grow: 1;
  font-size: 12px;
  line-height: 15px;
  color: #a9afb6;
  letter-spacing: .5px;
}

.search-item-text-price {
  margin-top: 40px;
  color: #FF6F6F;
  font-size: 16px;
  line-height: 16px;
  font-family: GT Pressura Mono,Monaco,monospace;
}

.search-item-text-icon{
  display: flex;
  margin-top: 10px;
  margin-left: -20px;
  padding-top: 10px;
  padding-left: 20px;
  border-top: 1px solid  #ddd;
}

.search-item-text-icon h6,
.search-item-text-icon i {
  display: inline-block;
  margin-bottom: 0px;
}
.search-item-text-icon i {
  margin-left: 10px;
  font-size: 14px;
}

.search-filter-item{
  display: inline-block;
  height: 100%;
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.search-filter-item-last {
  margin-right: 50px !important;
}

.search-filter-item p {
  font-size: 13px;
  font-weight: 300;
  color: #444;
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.search-filter-box {
  position: relative;
  display: block;
}

.search-filter-box-content {
  height: auto;
  width: auto;
  position: absolute;
  right: -10px;
  z-index: 1;
  background: #f4f5f9;
  margin-top: 16px;
  display: flex;
  padding: 10px;
}

.box-hidden {
  display: none;
}

.search-radio {
  display: inline-block;
  margin: 10px !important;
  white-space: nowrap;
}

.search-input {
  width: 100px;
  margin: 10px;
}

.search-card-search {
  overflow: hidden;
  z-index: 2;
  display: inline-block;
  border-radius: 5px;
  width: 30%;
  background: #fff;
  position: absolute;
  left: 10px;
  top: 9px;
}

.search-input-search {
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  font-family: Helvetica, Arial, sans-serif;
  border: 0;
  width: 90%;
}
.search-card-search i {
  font-size: 16px;
}
.search-input-search:focus {
  outline-width: 0;
}
.search-input-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa;
}
.search-input-search::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
}
.search-input-search:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
}
.search-input-search:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
}

.detail-content {
  margin-top: 70px;
  width: 100%;
  height: auto;
  border-top: 1px solid #ddd;
}

.detail-content-title {
  margin-left: 100px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.detail-content-title h1 {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 500;
}
.detail-content-title h6 {
   color: #888;
 }

.detail-content-cover {
  width: 100%;
  height: 400px;
  display: flex;
}

.detail-content-cover a {
  width: 40%;
  height: 100%;
}

.detail-content-cover img {
  width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: cover;
  border-right: 1px solid rgba(255,255,255,0.2);
}

.detail-content-cover iframe {
  width: 60%;
  height: 100%;
}

.detail-content-info {
  display: flex;
  margin-left: 100px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.detail-content-info h4 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 500;
}

.detail-content-info h6 {
  color: #aaa;
}

.detail-content-info-price {
  width: 200px;
  display: inline-block;
}

.detail-content-info-bedroom {
  width: 150px;
  display: inline-block;
}

.detail-content-info-bathroom {
  width: 150px;
  display: inline-block;
}

.detail-content-info-size {
  width: 150px;
  display: inline-block;
}

.detail-content-description {
  margin-left: 100px;
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.detail-content-description h4 {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  width: 10%;
}

.detail-content-description h6 {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  width: 70%;
  white-space: pre-line;
}

.detail-map {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.detail-map-view {
  height: 250px;
  margin-left: 100px;
  margin-right: 100px;
}

.detail-icon-expand {
  position: absolute;
  bottom: 80px;
  left: 20px;
  background: #444;
  padding: 8px;
  display: flex;
  color: #ddd;
}

.detail-icon-expand i {
  display: inline-block;
  margin-top: 4px;
  margin-right: 5px;
}

.detail-icon-expand p {
  margin: 0px !important;
}

// Contact
.contact-content {
  margin-top: 70px;
  padding-top: 30px;
  margin-bottom: 40px;
  border-top: 1px solid #ddd;
}

.content-title {
  text-align: center;
}

.content-desc {
  text-align: center;
  margin-bottom: 40px;
}


.edit-content {
  margin-top: 70px;
  padding-top: 20px;
  width: 100%;
  height: auto;
  border-top: 1px solid #ddd;
}

.edit-title {
  font-size: 20px;
  text-align: center;
}