// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.editor-content {
  margin-top: 10px;
  width: 100%;
  height: auto;
  border-top: 1px solid #ddd;
}

.edit-content{
  margin-top: 0px;
  padding-top: 0px;
}

.edit-title {
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
}

.list-item-image{
  padding: 0px !important;
}

.list-item-action {
  padding-top: 25px !important;
  padding-right: 0px !important;
  width: 150px;
}

.list-item-thumb {
  width: 149px;
  height: 80px;
  object-fit: cover;
}

.list-item-avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.list-paginate{
  font-size: 16px;
}

.edit-list-thumb {
  //display: flex;
  overflow-x: auto;
}

.edit-list-thumb-card {
  display: flex;
}

.edit-list-thumb-card div {
  display: inline-block;
  position: relative;
}

.edit-list-thumb-card-text {
  width: 100%;
  margin-top: 25px;
  margin-left: 10px;
}

.edit-list-thumb img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 5px;
  border-radius: 5px;
}

.edit-list-thumb i {
  position: absolute;
  top: 10px;
  left: 15px;
}

.profile-avatar {
  text-align: center;
  margin-bottom: 25px;

}

.profile-avatar img {
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.list-user-search {
  margin-bottom: 20px;
}

.list-user-search input {
  width: 90% !important;
  height: 40px;
}

.list-user-search button {
  width: 10% !important;
  height: 40px;
}

.list-house-search {
  margin-bottom: 20px;
}

.list-house-search input {
  width: 90% !important;
  height: 40px;
}

.list-house-search button {
  width: 10% !important;
  height: 40px;
}

.list-project-search {
  margin-bottom: 20px;
}

.list-project-search input {
  width: 78% !important;
  height: 40px;
}

.list-project-search button {
  width: 10% !important;
  height: 40px;
}

#list-project-add-button {
  width: 10% !important;
  margin-left: 2%;
}

.panel-editor {
  background-color: #fff;
  padding-top: 40px;
  border-radius: 5px;
  border: solid 1px #eee;
}

.edit-house-total {
  margin-top: 4px;
}

.edit-house-total span {
  font-size: 18px;
}

.edit-checkbox {
  margin-left: 0 !important;
}