<footer class="global-footer footer" role="contentinfo">
    <div class="">
        <nav class="footer-nav">
            <div class="row bottom-section">
                <ul class="site-footer-links">
                      <li>&copy; Sino Ocean &copy; 2016. All Rights Reserved.</li>
                  </ul>
            </div>
        </nav>
    </div>
</footer>