<!-- begin #header -->
<div id="header" class="header navbar navbar-default navbar-fixed-top">
  <!-- begin container-fluid -->
  <div class="container-fluid">
    <!-- begin mobile sidebar expand / collapse button -->
    <div class="navbar-header">
      <a href="/" class="navbar-brand"><span>
      <%= image_tag("logo_sunnyworld.png", height: '35') %>
      </span></a>

    </div>

  </div>
  <!-- end container-fluid -->
</div>