<div class="home-card-agent">
      <div class="image">
        <a href="/detail/1"><img src="<%= asset_url(agent.avatar) %>" alt="Work 1"/></a>
      </div>
      <div></div>
      <div class="agent-name"><%= agent.name %></div>
      <div class="agent-job">Tu vấn viên Sunnyworld</div>
      <div class="agent-email"><%= agent.email %></div>
</div>
