
<!-- begin css -->
<link href="/assets/home.scss" rel="stylesheet" />
<!-- end css -->

<div class="container contact-content">
  <h2 class="content-title">Thông tin liên hệ</h2>
  <p class="content-desc">

  </p>
  <!-- begin row -->
  <div class="row">
    <!-- begin col-6 -->
    <div class="col-md-1"></div>
    <div class="col-md-4 fadeInLeft contentAnimated finishAnimated" data-animation="true" data-animation-type="fadeInLeft">
      <h3>Hợp tác và liên kết</h3>
      <p>
        <strong>Corporate Headquarters</strong><br>
        193-203 Tran Hung Dao St.<br>
        Co Giang Ward, District 1<br>
        Ho Chi Minh City, Vietnam<br>
        T: (+84 8) 3920 6536<br>
        F: (+84 8) 3920 6535<br>
      </p>
      <p>
        <a href="mailto:hello@emailaddress.com">sunnyworldpro@support.com</a>
      </p>
    </div>
    <!-- end col-6 -->
    <!-- begin col-6 -->
    <div class="col-md-6 form-col fadeInRight contentAnimated finishAnimated" data-animation="true" data-animation-type="fadeInRight">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-3">Họ và tên <span class="text-theme">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Email <span class="text-theme">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">Thông tin <span class="text-theme">*</span></label>
          <div class="col-md-9">
            <textarea class="form-control" rows="10"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3"></label>
          <div class="col-md-9 text-left">
            <button type="submit" class="btn btn-theme btn-block">Gửi thông tin</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-1"></div>
    <!-- end col-6 -->
  </div>
  <!-- end row -->
</div>


<!-- begin script -->
<script src="/assets/jquery-1.9.1.js"></script>
<script src="/assets/home.js"></script>
<!-- end script -->