<!-- begin css -->
<link href="/assets/home.scss" rel="stylesheet"/>
<link href="/assets/isotope.css" rel="stylesheet"/>
<link href="/assets/lightbox.css" rel="stylesheet"/>
<!-- end css -->

<div class="detail-container">

  <!-- Begin Content -->
  <div class="detail-content">

    <div class="detail-content-title">
      <h1>Căn hộ mẫu 1</h1>
      <h6>204 Pasteur, Quận 3, thành phố Hồ Chí Minh</h6>
    </div>

    <!-- Begin frame 3d -->
    <div class="detail-content-cover row">
      <div class="detail-icon-expand">
        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        <p>15 ảnh</p>
      </div>

      <a class="col-lg-4 col-sm-12 col-md-4 col-xs-12 no-padding" href="/assets/canho1.jpg" data-lightbox="gallery-group-1">
        <img src="<%= @coverUrl %>"/>
      </a>
      <div class="col-lg-8 col-sm-12 col-md-8 col-xs-12 no-padding" style="height: 400px; overflow: hidden">
        <iframe class="" style="width: 100%; height: 425px" src="<%= @matterUrl %>&amp;utm_source=hit-content&amp;play=1" frameborder="0" allowfullscreen allowvr></iframe>
      </div>
    </div>
    <!-- End frame 3d -->

    <!-- Begin Info -->
    <div class="detail-content-info container">
      <div class="row">
        <div class="detail-content-info-price col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <h4>9.000.000.000 đ</h4>
          <h6>Giá căn hộ</h6>
        </div>

        <div class="detail-content-info-bedroom col-lg-2 col-md-2 col-sm-6 col-xs-6">
          <h4>3</h4>
          <h6>Số phòng ngủ</h6>
        </div>

        <div class="detail-content-info-bathroom col-lg-2 col-md-2 col-sm-6 col-xs-6">
          <h4>4</h4>
          <h6>Số phòng tắm</h6>
        </div>

        <div class="detail-content-info-size col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <h4>200m2</h4>
          <h6>Kích thước hộ</h6>
        </div>

        <div class="detail-content-info-vr col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div id="qrcode"></div>
          <img class="detail-content-info-vr-icon" src="/assets/icon_vr.png"/>
        </div>
      </div>
    </div>
    <!-- End Info -->

    <!-- Begin Description -->
    <div class="detail-content-description container">
      <div class="row">
        <h4 class="col-lg-2 col-md-2 col-sm-4 col-xs-4">Mô tả</h4>
        <h6 class="col-lg-8 col-md-8 col-sm-8 col-xs-8">See broker remarks . Privacy is the key to this property, it has
          no neighbors behind or one of the sides.
          Easy
          access to expressways such as Turnpike, Palmetto 826 and I75, also close to state road US 27. Completely
          remodeled has large kitchen with granite counter, stainless steel appliances, remodeled bathrooms and more.

          When you buy this house you will enjoy fruit trees like 5 mango trees, 1 tamarind, 2 black sapote, 2 anon, 2
          mamey and 1 caniter. Lateral entry have a space for a boat . Property is prepa</h6>
      </div>
    </div>
    <!-- End Description -->

    <!-- Begin Map -->
    <div class="detail-map">
      <div class="detail-map-view" id="map"></div>
    </div>
    <!-- End Map-->
  </div>
  <!-- End Content -->

</div>


<!-- Begin Gallery-->
<div id="gallery" style="display: none;">
  <a href="/assets/canho1.jpg" data-lightbox="gallery-group-1">
    <img src="/assets/canho1.jpg" alt="">
  </a>
  <a href="/assets/canho2.jpg" data-lightbox="gallery-group-1">
    <img src="/assets/canho2.jpg" alt="">
  </a>
  <a href="/assets/canho3.jpg" data-lightbox="gallery-group-1">
    <img src="/assets/canho3.jpg" alt="">
  </a>
</div>
<!-- End Gallery -->

<!-- begin script -->
<script src="/assets/jquery-1.9.1.js"></script>
<script src="/assets/jquery.isotope.js"></script>
<script src="/assets/lightbox-2.6.min.js"></script>
<script src="/assets/gallery.demo.js"></script>
<script src="/assets/detail.js"></script>
<script src="/assets/qrcode.min.js"></script>
<script>
  $(document).ready(function () {
    Gallery.init();

    var qrcode = new QRCode("qrcode", {
      text: "<%= @matterUrl %>",
      width: 80,
      height: 80,
      colorDark: "#000000",
      colorLight: "#ffffff",
      correctLevel: QRCode.CorrectLevel.H
    });
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Constant::GOOGLE_SERVER_KEY %>&callback=initMap" async defer></script>
<!-- end script -->