<!-- begin css -->
<link href="/assets/home.scss" rel="stylesheet"/>
<!-- end css -->

<div class="edit-content">
  <div class="panel-heading">
    <h4 class="edit-title">Nhập thông tin căn hộ</h4>
  </div>

  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-md-3 control-label">Tiêu đề</label>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Địa chỉ</label>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Số phòng ngủ</label>
        <div class="col-md-6">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Số phòng tắm</label>
        <div class="col-md-6">
          <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Diện tích</label>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Mô tả</label>
        <div class="col-md-6">
          <textarea class="form-control" placeholder="Mô tả chi tiết căn hộ" rows="5"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Đường dẫn ảnh 3D</label>
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Ảnh đại diện</label>
        <div class="col-md-6" style="margin-top: 5px;">
          <input type="file" name="img" multiple>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Gửi</label>
        <div class="col-md-6">
          <button type="submit" class="btn btn-sm btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>


<!-- begin script -->
<script src="/assets/jquery-1.9.1.js"></script>
<script>
  $(document).ready(function () {
  });
</script>
<!-- end script -->